<div class="first-cont">
    <h1 >ROIE IVRI </h1>
    <p class="job--title">Software Developer</p>
    
   
      
<button class="button-29" role="button">Get my resume</button>


</div>
<div class="body">
    <div class="item" style="animation-delay: 0s; bottom: 10px; margin-top: 30px;">
        <h3>About Me </h3>
        <p>I am a Full-stack Software Developer with a CAN-DO atitude looking to start my career,  I won't tell you something is impossible, I will find a way or die trying</p> <span class="red-joke">(preferably not)</span> 
    </div >

<div class="item" >
    <h3 >Programming Langueges</h3>
  <p class="pl">JAVA</p>
  <p class="pl">TYPESCRIPT</p>
  <p class="pl">SQL</p>
  <p class="pl">HTML</p>
  <p class="pl">CSS</p>
  <p class="pl">JAVASCRIPT</p>

        </div>


<div class="item" style="animation-delay: 1s;">
    <h3>Education </h3>
    <p>Software Engeneering First Year</p><a href="https://www.openu.ac.il/en/pages/default.aspx">The Open University</a>

    <p>Full-Stack Software Development At - </p><a href="https://www.johnbryce.co.il/content/john-bryce-training-college">John Bryce Trainning College </a>
</div>

</div>
<div class="mid-way-span">
<h3>PROJECTS</h3>
</div>

<div class="body" style="margin-top: 6vh;">

    <div class="item" style="animation-delay: 1.33s; margin: auto;" >
        <h3 class="project-title">Mind Your Buisness </h3>
<p style="margin-top: 1vh;">A General business  Management web-app, meant to be used by the owner of a company or a secretary</p>
<p style="margin-top: 1vh;">Using <span class="key-word">Spring</span> for the REST API, MODEL and Service layer</p>
<p><span class="key-word">SQL</span>For the database.</p>
<p>Using <span class="key-word">Angular</span> for the Client side easy and intuitive desgin</p>
<button class="button-54" role="button"><a href="https://github.com/roie123/roie123.mind.github.io" style="color: black;">FRONTEND</a></button>
<button class="button-54" role="button"><a href="https://github.com/roie123/Mind_Your_Business_SPRING" style="color: black;">BACKEND</a></button>

    </div>
    
    <div class="item" style="animation-delay: 1.66s; margin: auto;">
        <h3 class="project-title" >Mini-Store</h3>
        <p>An E-commerce store for elctronic parts, comes with ADMIN Mode for editing store items</p>
<p> Using <span class="key-word" >Bootstrap</span> and <span class="key-word" >Angular </span>for the front and <span class="key-word" >Spring </span> The REST API and Service layer </p>
<p>The Database is mongoDB implementing <span class="key-word">AWS cloud services</span></p>
<button class="button-54" role="button"><a href="https://github.com/roie123/roie123.mind.github.io" style="color: black;">FRONTEND</a></button>
<button class="button-54" role="button"><a href="https://github.com/roie123/Mind_Your_Business_SPRING" style="color: black;">BACKEND</a></button>


    </div >

    
    </div>

<div class="extented-cont">
    <h2 style="font-size: 19px;"  >peeked your intrest ? </h2>
    <button class="button-29" role="button" style="width: 100%; margin-bottom: 2px;" (click)="toggleMore()">Tell me more</button>
    <div *ngIf="isShowingMore">
    <p >I am 22 and currently living in Ramat-Gan, I have a genuine interest  in every single thing that puzzles  me, coding is a medium for my love of <span class="key-word">challenges</span>.</p>
</div>
<div class="extended-item" *ngIf="isShowingMore" style="animation-delay: 0.5s;">
    <span style="letter-spacing: 3px;">Nov 2018 - Sept 2021</span>

    <p>In the army I was a Team-Leader and a Senior-Sergeant  in  Sayeret-Haruv, executed <span class="key-word">complex</span> missions succesfuly under <span class="key-word">heavy stress</span>.</p>
    <p>I had a role specifically assigned to me,
         that role made me in charge of creating a new way to fight with <span class="key-word">drones</span> on the battelfield.</p>
    <p>On top of that  I was in charge of <span class="key-word">planning</span> every single high-priority mission involving drones</p>
</div>

<div class="extended-item" *ngIf="isShowingMore" style="animation-delay: 2s;">
    <span style="letter-spacing: 3px;">OCT 2021 - CURRENT</span>
    <p>Currnetly i am working at Pincu-Barkan Lawyers office,
         my role really helped me improve my <span class="key-word">communications</span> skills.</p>
    
    <p>I am a part of a team of 3 hardworking and professional colleagues,
         our job is to increase the gross income of the office, 
         whether  it's by making new contact with fresh clients or by tinkering with keywords and <span class="key-word">analising</span> our monthly Data</p>
    </div>

    <div class="extended-item" *ngIf="isShowingMore" style="animation-delay: 3s;">
        <span>OTHER INTRESTS</span>
        <ul>
            <ul>Drones</ul>
            <ul>AI</ul>
            <ul>Advent of Code</ul>
            <ul>Keyboards</ul>
        </ul>
        <p style="margin-top: 15px; margin-bottom: 0px;">Give me a chance, you wont regret it ;)</p>

    </div>
</div>


    <div class="last-cont">
        <h2 style="margin: 0px;" >CONTACT ME </h2>
       
        
       
          <div class="links-cont">
    <a class="contact-links" href="https://github.com/roie123?tab=repositories">GITHUB</a>
    <a class="contact-links" href="https://www.linkedin.com/in/roy-ivri-49ab98238/">LINKEDIN</a>
    </div>

    <div class="links-cont" style="margin-top: 2em;" >
    <a class="contact-links" href="mailto:roieivri123@gmail.com">EMAIL</a>
    <a class="contact-links" href="#popup1" >PHONE</a>
</div>
    
    </div>
    <div style="background-color: black; text-align: center;">
        <p style="color: whitesmoke; opacity: 0.6; font-size: x-small;">Created by Roie Ivri but feel free to use <a href="https://github.com/roie123/Presonal-website" style="color: whitesmoke;">Here</a> </p>
    </div>
    





<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Call ME! </h2>
		<a class="close" href="#">&times;</a>
		<div class="content" style="text-align: center;">
050-7171132		
</div>
	</div>
</div>